/*
	@theme TaskPaper Placeholder
	@placeholder taskpaper
*/

taskpaper {
	/* Anything that isn't a task or project is a note, so color accordingly */
	color: #b2b2b2;
}

taskpaper project > name {
	color: #000;
	font-weight: bold;
}

taskpaper task {
	color: #000;
}

taskpaper task > punctuation.definition.begin {
	color: #3a77bf;
}

taskpaper task.done, taskpaper task.done * {
	color: #3a77bf;
}

taskpaper task.today {
	color: #d4430d;
}

taskpaper tag {
	font-style: italic;
}